/* http://myresolutionis.ru - проверка ширины окна онлайн */

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    line-height: 1;
  }

body {
    max-width: 1440px;
    width: 100%;
    height: auto;
    left: 0px; 
    right: 0px;
    margin: auto;
    background-color: #E5E5E5; /* ВРЕМЕННО! */
    font-family: "Aleo", serif;
}

main {
    background-color: rgba(255, 255, 255, 0.658);
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    z-index: -3;
}

@media screen and (min-width: 1440px) /*TRAVEL 1*/ { 

    /* HEADER */

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        
        background-color: rgba(242, 118, 90, 0.7);
        color: #fff;
        height: 90px;

        position: absolute;
        width: 1440px;
        /*взяла из макета:*/
        align-items: flex-start;
        padding: 0px;
        gap: 42px;
        align-items: center;
        z-index: 1;
    }

    .logo {
        margin-left: 60px;
        height: 31px;
        width: 216px;
        display: block;
    }

    .navig {
        height: 21px;
        margin: 25px 0px;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Red Hat Text', sans-serif;
        line-height: 0px;
        /*взяла из макета:*/
        padding: 0px;
        list-style-type: none;
    }

    .point_navig {
        display: block;
        margin: 10px 20px;
        text-decoration: none;
        color: #fff;
    }

    .tail_point_navig {
        display: none; 
    }

    .button_login {
        background-color: rgb(13, 96, 111);
        width: 103px;
        height: 41px;
        margin: 25px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
    }
    .button_login:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }

    .burger_login {
        display: none;
    }

    /* ----------------------POP UP -------------------------- */
    .popup-bg1,
    .popup-bg2 {
        display:none;
        position: fixed;
        z-index: 1;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }
    .popup-bg1_active,
    .popup-bg2_active {
        display: block;
        
    }

    .popUp {
        position: fixed;
        bottom: 1590px;
        left: 30%;
        width: 650px;
        height: 660px;
        background: rgb(13,96,111);
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
        color: #fff;
        z-index: 5;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all linear;
    }

    .popUp_active {
        bottom: 240px;
    }

    .SignPop {
        position: fixed;
        bottom: 1500px;
        left: 30%;
        width: 650px;
        height: 436px;
        background: rgb(13,96,111);
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
        color: #fff;
        z-index: 5;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all linear;
    }
    .SignPop_active {
        bottom: 450px;
    }

    .head_popUp {
        font-family: 'Aleo', serif;
        font: 32px bold;
        color: #0D606F;
        position: relative;
        margin: 25px 0px 20px 0px;
    }
    
    .button-facebook, .button-google, .input-popup {
        height: 54px;
        width: 560px;
        margin: 10px;
        border-radius: 10px;
        font-family: 'Red Hat Text';
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }

    .icons-popup {
        height: 24px;
        width: 24px;
    }
    
    .button-facebook {
        background-color: #1877F2;
        color: #fff;
    }

    .button-google {
        color: #0D606F;
        background-color: #fff;
    }

    .liner-popup {
        width: 560px;
        height: 24px;
        margin-bottom: 10px;

        color: #0D606F80;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        }

    .line-popup {
        position: relative;
        left: 0px;
        width: 40%;
        height: 2.5px;
        background-color: #0D606F80;
        margin: 0;
        padding: 0;
        transition: 0.3s all linear;
        display: block;
    }

    .label-popup {
    font-family: 'Aleo', serif;
    font: 16px bold;
    position: relative;
    left: 17px;
    color: #0D606F;
    }
    
    .button-pop {
        background-color: rgb(13, 96, 111);
        padding: 14px;
        height: 54px;
        width: 560px;
        margin: 25px 0px 10px 0px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 20px;
    }

    .button-pop:hover {
        background-color: #083c46;
        cursor: cell;
    }

    .devider-popup {
        width: 560px;
        border: solid 1px rgba(13, 96, 111, 0.5);
        margin: 20px;
    }

    .reminder-popup, .register-popup, .login-popup {
        font-family: 'Aleo', serif;
        font: 15px bold;
        color: #0D606F;
    }
    .link-popup {
        color: #0D606F; 
    }
    
    /* MAIN */

    .preview_Picture {
        position: relative;
        top: -2px; 
        left: 3px;
        z-index: 0;
        width: 1438px;
    }

    .preview {
        position: relative;
    }

    .head_preview {
        font-family: 'Aleo', serif;
        font: 80px bold;
        font-size: 80px;
        line-height: 96px;
        color: #fff;
        position: relative;
        bottom: 650px; 
        width: 775px;
        left: 120px;
    }

    .txt_preview {
        width: 892px;
        margin-right: 3px;
        position: relative;
        left: 120px;
        color: #fff;
        bottom: 621px;
        font-family: 'Aleo', serif;
        font: 20px bold;
        font-style: italic;
    }

    .form_preview {
        position: relative;
        left: 120px;
        bottom: 577px;
        width: 892px;
        height: 95px;
        background-color: rgba(255, 255, 255, 0.7);
        object-fit: cover;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 42px;
        }

    .input_preview {
        position: relative;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        width: 560px;
        height: 22px;
    }

    .input_preview::placeholder  {
        color: #F2785C;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'Aleo', serif;
        font-size: 24px;
        font-weight: 400;
        font-style: italic;
        line-height: 28.8px;
        position: relative;
        left: 40px;    
    }

    .button_preview {
    background-color: rgb(13, 96, 111);
    width: 230px;
    height: 60px;
    margin: 0px; /*CORRECT!!*/
    object-fit: cover;
    border-radius: 10px;
    color: #fff;
    position: relative;
    }
    .button_preview:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }
    /* 3_STEPS */

    .steps {
        position: relative;
        left: 130px;
        bottom: 198px;
        width: 1177px;
        height: 247px;
    }

    .varians_steps {
        position: relative;
        left: 0px;
        bottom: 31px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 0px;
    }

    .head_steps {
        font-family: 'Red Hat Text', sans-serif;
        text-align: center;
        margin-bottom: 40px;
        color: rgba(242, 118, 90);
        position: relative;
        bottom: 33px;
    }

    .bottom_steps {
        background-color: rgba(242, 118, 90);
        z-index: 0;
        width: 100px;
        height: 100px; 
        object-fit: cover;
        border-radius: 10px;
        position: relative;
    }
    .bottom_steps:hover {
        background-color: rgb(192, 58, 28);
        cursor: cell;
    }

    .picture_steps {
        position: absolute;
        top: 22px;
        left: 21px;
    }

    .txt_steps {
        color: #0D606F;
        font-family: 'Aleo', serif;
        font: 20px;
        margin: 25px 0px;
    }

    /* DESTINATIONS */
    .destinations {
        position: relative;
        overflow: hidden;
        left: 0px;
        bottom: 140px;
        height: auto;
    }

    .head_destinations {
        position: relative;
        bottom: 36px;
        text-align: center;
        margin: 40px;
        color: rgba(242, 118, 90);  
    }

    .container_destinations {
        width: 4208px;
        height: 800px;
        position: relative;
        gap: 52px;
        left: -1393px;
        bottom: 26px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        transition: all ease 1s;
    }
    .slide_destinations {
        height: 800px;
        width: 800px;  
        overflow: hidden;
        border-radius: 3%;
        position: relative;
        box-shadow: 10px 10px 44px -10px black;
      }
      .slide1, .slide3 {
        left: 0px;
      }
    .picture_destinations {
        height: 800px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.3s;
      }
      .picture_destinations:hover {
        transform: scale(1.1);
      }

    .slide_destinations {
        height: 800px;
        width: 800px;  
        overflow: hidden;
        border-radius: 3%;
      }
      

    .name_destinations {
        position: relative;
        left: 15px;
        top: -86px;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 32px;
        width: 500px;
        line-height: 42.34px;
        color: #fff;
    }

    .button_destinations {
        background-color: rgb(13, 96, 111);
        width: 230px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;
        left: 580px;

        margin: 30px;  
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }

    .button_destinations:hover {
            background-color: rgb(9, 66, 77);
            cursor: cell;
        }

    .dors-wrapper {
        display: flex;
        justify-content: center;
        margin: 15px;
        width: auto;
      }
      
      .dot {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: #eeb3a5;
        margin-right: 5px;
        cursor: pointer;
      }
      
      .dot_active {
        background-color: #F2785C;
      }

        .arrows_destinations {
            display: flex;
            justify-content: center;
            height: 800px;
            width: 100%;
            position: absolute;
            top: 90px;
            justify-content: space-between;
          
          }
          
          .action {
            height: 800px;
            width: 20%;
          
          }

          .arrow_dest {
            display: none;
          }

        /* Travel Stories */

    .stories {
        position: relative;
        left: 0px;
        top: -56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Aleo', serif;
    }
    .container_stories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 100px;
        top: 35px;
        width: 1200px;
    }

    .story {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 32px;
        margin-bottom: 23px;
        color: #0D606F;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        position: relative;
        top: 17px;
        left: 17px;
    }

    .head_stories {
        position: relative;
        top: -30px;
        width: 1440px;
        text-align: center;
        margin: 0px;
        color: rgba(242, 118, 90); 
    }

    .text_stories {
        font-family: Aleo;
        letter-spacing: 0em;
        } 
        
    .name_story {
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 10px;
        }
        
    .some_story {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        margin: 0px 0px;
        letter-spacing: 0.1em;
        } 
        
    .link_story {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #0D606F;
        }

    .link_story:link {
        color: #0D606F;        
        }

    .link_story:visited {
            color: #0D606F;        
            }
        
.picture_stories{
        border-radius: 16px;
        width: 400px;
        height: 250px;
        transition: transform 0.3s;
        }
        
    .picture_stories:hover {
        transform: scale(1.1);
        }

    .bacground_stories {
        width: 1440px;
        position: absolute;
        top: 48px; 
        left: -3px;
        z-index: -1;
    }

    .button_story {
        background-color: rgb(13, 96, 111);
        width: 230px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;
        left: 505px;
        top: 0px;
        margin: 5px;   
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .button_story:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }

    /* FOOTER */

    .footer{
        position: relative;
        top: 15px;
        width: 1440px;
        height: 35px;
        display: flex;
        justify-content: space-around;
        gap: 39px;
        color: #fff;
        box-shadow: 1px #000;
    }

    .conteiner_footer {
        display: flex;
        align-items: center; 
    }
    .end-links {
        position: relative;
        left: 0px;
        height: 33.65px;
    } 

    .sociallinks {
        height: 33.65px;
        z-index: 2; 
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXX *TRAVEL 2* XXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media screen and (max-width: 390px) /*TRAVEL 2*/ {

    main {
        height: 1380px;
    }

    body {
        height: 1406px;  
    }
/* -------------- header -------------------*/
    .header {
        width: 100%;
        height: 75px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;

        background: -webkit-linear-gradient(270deg,#0D606F 0%, rgba(0,0,0,0) 90%); /* здесь ДОЛЖНА БЫТЬ ТЕНЬ-ГРАДИЕНТ ! */
        color: #fff;

        position: absolute;
        top: 2px;
        z-index: 1;
    } 

/* НАВИГАЦИЯ !!! */

    .logo {

        margin-left: 7px;
        height: 32px;
        display: block;
    }

    .menu {
        display: flex;
        flex-direction: row; 
        justify-content: space-around; 
        margin-right: 13px;
        margin-bottom: 5px;
    }
    
    .burger {
        display: block;
        width: 30px;
        height: 20px;
    
        position: relative;
        z-index: 5;
        cursor: pointer;
    }
    
    .burger_active .first_line,
    .burger_active .fourth_line {
        opacity: 0;
    }
    .burger_active .second_line {
        transform: translateY(-50%) rotate(45deg);
    }
    
    .burger_active .third_line{
        transform: translateY(-50%) rotate(-45deg);
    }
    
    .burger_active {
        position: relative;
        left: -106px;
        top: -30px;
    }

    .line {
        position: absolute;
        left: 0;
        width: 100%;
        height: 2.5px;
        background-color: #fff;
        margin: 0;
        padding: 0;
        transition: 0.3s all linear;
        display: block;
        }
    
            .first_line {
                top: 0px;
            }
            .second_line,
            .third_line {
                top: 50%;
                transform: translateY(-50%);
            }
            .fourth_line {
                bottom: 0px;
            }
    
    .menu_body {
        position: absolute;
        top: 0px;
        right: -500px;
        z-index: 1;
    
        background-color: #F2785C;
        width: 165px;
        height: 250px;
    
        font-family: 'Red Hat Text', sans-serif;
        font-size: 16px;


    
        display: flex;
        justify-content: flex-end;
        transition: 0.5s all linear;
        object-fit: cover;
        border-radius: 10px;
        padding: 8px;

    }
    
    .menu_body_active {
        right: 0px;
        text-align: left;
    }
    
    .navig {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    
    
    }
    
    .menu_item {
        position: relative;
    }
    
    .point_navig {
    text-decoration: none;
    color: aliceblue;
    }
    .point_navig:hover {
        text-decoration: underline;
    }

    .button_login {
        display: none;
    }

    .button_login:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }

    .txt_login {
        display: none;
    }

     .burger_login {
        margin-top: 0px;
        margin-right: 0px;
        height: 35px;
     }

        .popUp {
        position: absolute;
        bottom: 800px;
        left: 10px;
        width: 370px;
        height: 660px;
        background: rgb(13,96,111);
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
        color: #fff;
        z-index: 5;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all linear;
    }

    .popUp_active {
        bottom: -610px;
    }

    .SignPop {
        position: absolute;
        bottom: 800px;
        width: 370px;
        height: 436px;
        background: rgb(13,96,111);
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
        color: #fff;
        z-index: 5;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all linear;
    }
    .SignPop_active {
        bottom: -440px;
    }

    .head_popUp {
        font-family: 'Aleo', serif;
        font: 32px bold;
        color: #0D606F;
        position: relative;
        margin: 25px 0px 20px 0px;
    }
    
    .button-facebook, .button-google, .input-popup {
        height: 54px;
        width: 360px;
        margin: 10px;
        border-radius: 10px;
        font-family: 'Red Hat Text';
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }

    .icons-popup {
        height: 24px;
        width: 24px;
    }
    
    .button-facebook {
        background-color: #1877F2;
        color: #fff;
    }

    .button-google {
        color: #0D606F;
        background-color: #fff;
    }

    .liner-popup {
        width: 360px;
        height: 24px;
        margin-bottom: 10px;

        color: #0D606F80;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        }

    .line-popup {
        position: relative;
        left: 0px;
        width: 40%;
        height: 2.5px;
        background-color: #0D606F80;
        margin: 0;
        padding: 0;
        transition: 0.3s all linear;
        display: block;
    }

    .label-popup {
    font-family: 'Aleo', serif;
    font: 16px bold;
    position: relative;
    left: 17px;
    color: #0D606F;
    }
    
    .button-pop {
        background-color: rgb(13, 96, 111);
        padding: 14px;
        height: 54px;
        width: 360px;
        margin: 25px 0px 10px 0px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 20px;
    }

    .button-pop:hover {
        background-color: #083c46;
        cursor: cell;
    }

    .devider-popup {
        width: 360px;
        border: solid 1px rgba(13, 96, 111, 0.5);
        margin: 20px;
    }

    .reminder-popup, .register-popup, .login-popup {
        font-family: 'Aleo', serif;
        font: 15px bold;
        color: #0D606F;
    }
    .link-popup {
        color: #0D606F; 
    }


    
/* PREVIEW */
    .preview {
        position: relative;
    }
    .preview_Picture {
        width: 101%;
        position: relative;
        top: 0px; 
        left: -5px;
        z-index: 0;
        margin: 0px;
        padding: 0px;
    }

    .head_preview {
        display: none; 
    }
    .txt_preview {
        display: none; 
    }
    
    .form_preview {
        position: relative;
        left: 2.5%;
        top: -111px;

        width: 360px;
        height: 48px;
        
        background-color: rgba(255, 255, 255, 0.7);
        object-fit: cover;
        border-radius: 16px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 2px;
        }

    .input_preview {
        position: relative;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
    }
    .input_preview::placeholder {
        color: #F2785C;
        background-color: rgba(255, 255, 255, 0);

        font-family: "Aleo", serif;
        font-size: 14px; 
        font-style: italic;
        position: relative;
        left: 16px;  
    }
    
    .button_preview {
        background-color: rgb(13, 96, 111);
        width: 92px;
        height: 30px;
        margin: 0px; /*CORRECT!!*/

        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;

        font-family: 'Red Hat Text', sans-serif;
        font-size: 11px;
    }

/* 3_STEPS */
    
    .steps {
        position: relative;
        left: 9px;
        bottom: 0px;
        width: 360px;
        height: 130px;
    }

    .head_steps {
        position: relative;
        bottom: 35px;
        margin: 0 10%;

        font-family: 'Red Hat Text', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: rgba(242, 118, 90);
        }

    .varians_steps {
        position: relative;
        bottom: 18px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 62px;
    }
    
    .containers_steps {
        width: 33%;
        display: flex;
        flex-direction: column;
        }
    
    .bottom_steps {
        background-color: rgba(242, 118, 90);
        width: 70px;
        height: 70px;

        position: relative;
        z-index: 0;

        object-fit: cover;
        border-radius: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

    }
    
    .picture_steps {
        position: absolute;
        height: 31px;
    }
    
    .txt_steps {
        color: #0D606F;
        font-family: 'Aleo', serif;
        font-size: 10px;
        margin: 20px 0px;
    }
    .container1_steps {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;

        width: 95px;
    }
    .container2_steps {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;
    }
    .container3_steps {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end; 
        text-align: right;
    }
    
    /* DESTINATIONS */

    .destinations {
        position: relative;
        overflow: hidden; 
        width: 95%;
        margin: 0px 3%;
        height: auto;
  
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }
    
    .head_destinations {
        position: relative;
        bottom: 10px;
        left: 3px;
        margin: 10px;
  
        font-family: 'Red Hat Text', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: rgba(242, 118, 90);
    }

   .container_destinations {
        width: 1850px;
        height: 210px; 
        position: relative;
        left: -372px;
        display: flex;
        gap: 10px;
        transition: all ease 1s;
    }
  
    .slide_destinations {
      /*height: auto;
      width: auto;*/  
      overflow: hidden;
      width: 100%;
      position: relative;
      box-shadow: 1px 1px 3px -1px black;
      border-radius: 5%;
    }
  
    .picture_destinations {
      width: 100%;
      object-fit: cover;
      border-radius: 3%;
      border-radius: 15px;
    }

  .name_destinations {
      position: relative;
      left: 29px;
      top: -217px;
      font-family: 'Red Hat Text', sans-serif;
      font-size: 20px;
      width: 500px;
      line-height: 42.34px;
      color: #fff;
  }
    
  .dors-wrapper {
    display: flex;
    justify-content: center;
    width: auto;
    position: relative;
    top: -20px;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #eeb3a5;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .dot_active {
    background-color: #F2785C;
  }
  
  .arrows_destinations {
    position: absolute;
    width: 98%;
    height: 210px;
    top: 33px;
    left: 0px;
    color: rgba(242, 118, 90);
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
  }
  
  .action {
    height: 100%;
    width: 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
  
  .arrow_dest {
    position: absolute;
    height: 30px;
    width: 30px;
    z-index: 5;
    display: block;
    }
  
    .line-arrow {
      position: absolute;
      width: 60%;
      height: 5px;
      background-color: #eeb3a5;
      display: block;
      border-radius: 20%;
      }
  
    .line-arrow-first {
      top: 8px;
      transform: rotate(45deg);
    }
    .line-arrow-second {
      top:-2px;
      transform: rotate(-45deg);
    }
    .line-arrow-third {
      top:8px;
      transform: rotate(-45deg);
    }
    .line-arrow-fourth {
      top:-2px;
      transform: rotate(45deg);
    }
    .line-arrow-active {
      color: rgba(242, 118, 90);
    }

    .button_destinations {
        width: 92px;
        height: 30px;
  
        background-color: rgb(13, 96, 111);
        color: #fff;
        object-fit: cover;
        border-radius: 10px;
  
        position: relative;
        margin: 5px;  
        z-index: 2;
        left: 130px;
  
        font-family: 'Red Hat Text', sans-serif;
        font-size: 11px;
        text-align: center;
        
        display: flex;
        align-items: center;
        justify-content: center;
        }

    /* Travel Stories */
    
    .stories {
        position: relative;
        left: 0px;
        top: -20px;

    }

    .bacground_stories {
        width: 383px;
        
        position: absolute;
        top: 26px; 
        left: 3px;
        z-index: -1;
    }

    .container_stories{
        width: 360px;

        position: relative;
        left: 0px;
        top: 18px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .picture_stories{
        width: 155px;
        height: 130px;
        border-radius: 16px;
    }
    

    .story {
        width: 369px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 6px;
        margin-bottom: 0px;
        color: #0D606F;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        position: relative;
        top: 17px;
        left: -4px;
    }
    
    .head_stories {
        margin-bottom: 10px;

        position: relative;
        top: 29px;
        left: 1px;

        font-family: 'Red Hat Text', sans-serif;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
        color: rgba(242, 118, 90);
    }
    
    .text_stories {
        font-family: 'Aleo', serif;
        letter-spacing: 0em;
        text-align: justify;

        } 
        
    .name_story {
        font-weight: 400;
        font-size: 11px;
        margin-top: 7px;
        margin-bottom: 14px;
        display: block;
        left: 0px;
        top: 0px;
        }
        
    .some_story {
        font-weight: 400;
        font-size: 9px;
        margin: 0px 0px;
        letter-spacing: 0px;
        overflow-y: hidden;
        height: 81px;
        } 
        
    .link_story {
        font-weight: bold;
        font-size: 9px;
        color: #0D606F;
        }
    
    .link_story:link {
        color: #0D606F;        
        }
    
    .link_story:visited {
            color: #0D606F;        
            }
        
   .button_story {
        background-color: rgb(13, 96, 111);
        width: 92px;
        height: 30px;

        object-fit: cover;
        border-radius: 10px;
        color: #fff;

        position: relative;
        left: 145px;
        top: 10px;
        margin: 0px;  
        z-index: 2;
   
        font-family: 'Red Hat Text', sans-serif;
        font-size: 11px;
        text-align: center;
            
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    
    .button_story:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }
    
    /* FOOTER */
    .footer{
        position: relative;
        top: 0px;
        width: 100%;
        color: #fff;
    }
    
    .conteiner_footer {
        position: relative;

    }
    .end-links {
        position: relative;
        left: 0px;
        height: 33.65px;  
    } 
    
    .conteiner3_footer {
        display: none;
    }
    .conteiner2_footer {
        display: none;
    }
    .conteiner1_footer {
        position: relative;
        left: 123px;
        top: 11px;
        margin-bottom: 0px;
        width: 200px;
    }
}

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXX * ADAPTIVE * XXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */
/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */

@media (min-width: 391px) and (max-width: 1439.9px) {

    /* HEADER */

/* -------------header ----------------*/
    .header {
        width: 100%;
        background-color: rgba(242, 118, 90, 0.7);
        color: #fff;
        padding: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 2%;

        position: absolute;
        align-items: center;
        z-index: 1;
    }

    .logo {
        height: 31px;
        display: block;
    }

    .burger {
        display: none; 
 }
    .navig {
        margin: 5px 0px;
        font-size: 16px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-around;
        font-family: 'Red Hat Text', sans-serif;
        line-height: 0px;
        padding: 0px;
        list-style-type: none;
    }
    .point_navig {
        display: block;
        margin: 5px 5px;
        text-decoration: none;
        color: #fff;
    }
    .tail_point_navig {
        display: none; 
    }
    .button_login {
        background-color: rgb(13, 96, 111);
        padding: 5px;
        height: 41px;
        margin: 5px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
    }
    .button_login:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }
    
    /* ----------------------POP UP -------------------------- */

    .popUp {
        position: absolute;
        bottom: 800px;
        width: 650px;
        height: 660px;
        background: rgb(13,96,111);
        background: linear-gradient(177.09deg, #FFFFFF 6.15%, #0D606F 202.69%);
        color: #fff;
        z-index: 5;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: 0.5s all linear;
    }

    .popUp_active {
        bottom: -640px;
    }

    .head_popUp {
        font-family: 'Aleo', serif;
        font: 32px bold;
        color: #0D606F;
        position: relative;
        margin: 25px 0px 20px 0px;
    }
    
    .button-facebook, .button-google, .input-popup {
        height: 54px;
        width: 560px;
        margin: 10px;
        border-radius: 10px;
        font-family: 'Red Hat Text';
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        text-align: center;
    }

    .icons-popup {
        height: 24px;
        width: 24px;
    }
    
    .button-facebook {
        background-color: #1877F2;
        color: #fff;
    }

    .button-google {
        color: #0D606F;
        background-color: #fff;
    }

    .liner-popup {
        width: 560px;
        height: 24px;
        margin-bottom: 10px;

        color: #0D606F80;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        justify-content: space-around;
        }

    .line-popup {
        position: relative;
        left: 0px;
        width: 40%;
        height: 2.5px;
        background-color: #0D606F80;
        margin: 0;
        padding: 0;
        transition: 0.3s all linear;
        display: block;
    }

    .label-popup {
    font-family: 'Aleo', serif;
    font: 16px bold;
    position: relative;
    left: 17px;
    color: #0D606F;
    }
    
    .button-pop {
        background-color: rgb(13, 96, 111);
        padding: 14px;
        height: 54px;
        width: 560px;
        margin: 25px 0px 10px 0px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 20px;
    }

    .button-pop:hover {
        background-color: #083c46;
        cursor: cell;
    }

    .devider-popup {
        width: 560px;
        border: solid 1px rgba(13, 96, 111, 0.5);
        margin: 20px;
    }

    .reminder-popup {
        font-family: 'Aleo', serif;
        font: 15px bold;
        color: #0D606F;
    }
    .link-popup {
        color: #0D606F; 
    }
 
    /* ---------------- PREVIEW ----------------- */
    .preview {
        position: relative;
        height: auto;
    }

    .preview_Picture {
        width: 100%;
        position: relative;
        top: 0px; 
        left: -5px;
        z-index: 0;
        margin: 0px;
        padding: 0px;
    }

    @media (min-width: 391px) and (max-width: 645px) {

        .head_preview {
            width: 80%;
            font-size: 25px;
            color: #fff;
            padding: 5px;

            position: relative;
            left: 5%;
            bottom: 170px; 
        }  
        .txt_preview {
            width: 90%;
            color: #fff;
            font-size: 15px;
            font-style: italic;

            position: relative;
            left: 5%;
            bottom: 175px; 
        }
    
        .form_preview {
            position: absolute;
            left: 5%;
            bottom: 122px; 
    
            width: 90%;
            height: 2em;
            background-color: rgba(255, 255, 255, 0.7);
            object-fit: cover;
            border-radius: 16px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }


    }
        
    @media (min-width: 646px) and (max-width: 750px) {
        .head_preview {
            width: 80%;
            font-size: 2em;
            color: #fff;
            padding: 5px;

            position: relative;
            left: 5%;
            bottom: 8em; 
        }  
        .txt_preview {
            width: 90%;

            position: relative;
            left: 5%;
            color: #fff;
            bottom: 22em; 
            font-size: 15px;
            font-style: italic;
        }
    
        .form_preview {
            position: absolute;
            left: 5%;
            bottom: 10em; 
    
            width: 90%;
            height: 2em;
            background-color: rgba(255, 255, 255, 0.7);
            object-fit: cover;
            border-radius: 16px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 42px;
        }
    }

    @media (min-width: 751px) {
        .head_preview {
            left: 5%;
            width: 85%;
            font-size: 3em;
            color: #fff;
            position: relative;
            bottom: 6em; 
            padding: 5px;
        }  
        .txt_preview {
            margin-right: 5px;
            position: relative;
            left: 5%;
            color: #fff;
            bottom: 17em; 
            font-size: 20px;
            font-style: italic;
        }
    
        .form_preview {
            position: absolute;
            left: 5%;
            bottom: 235px; 
    
            width: 90%;
            height: 3em;
            background-color: rgba(255, 255, 255, 0.7);
            object-fit: cover;
            border-radius: 16px;
    
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            gap: 42px;
        }     
    }

  
    .input_preview {
        position: relative;
        align-items: center;
        background-color: rgba(255, 255, 255, 0);
        width: auto;
        height: 22px;
    }
    
    .input_preview::placeholder  {
        color: #F2785C;
        background-color: rgba(255, 255, 255, 0);
        font-size: 14px;
        font-weight: 400;
        font-style: italic;
        line-height: 28.8px;
        position: relative;
        left: 40px;    
    }
    
    .button_preview {
        background-color: rgb(13, 96, 111);
        width: 190px;
        height: auto;
        padding: 5px 0px; /*CORRECT!!*/
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;
        z-index: 2;
    }
    .button_preview:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }
 
    /* ---------- 3_STEPS --------------- */
    
    .steps {
        position: relative;
        left: 0px;
        bottom: 100px;
        width: 100%;
        height: auto;
    }

    .head_steps {
        text-align: center;
        margin-bottom: 40px;
        color: rgba(242, 118, 90);
        position: relative;
        bottom: 33px;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 40px;
        font-weight: normal;
    }

    .varians_steps {
        position: relative;
        left: 0px;
        bottom: 0px;

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        gap: 0px;
    }
    

    
    .bottom_steps {
        background-color: rgba(242, 118, 90);
        z-index: 0;
        width: 80px;
        height: 80px; 
        object-fit: cover;
        border-radius: 10px;
        position: relative;
    }
    .bottom_steps:hover {
        background-color: rgb(192, 58, 28);
        cursor: cell;
    }
    
    .picture_steps {
        position: absolute;
        top: 22px;
        left: 21px;
    }
    
    .txt_steps {
        color: #0D606F;
        font-family: 'Aleo', serif;
        font: 20px;
        margin: 5px 0px;
    }
    
/* ---------------- DESTINATIONS ------------------ */

    .destinations {
        position: relative;
        overflow: hidden;
        left: 0px;
        bottom: 140px;
        height: 1070px;
    }
    
    .head_destinations {
        position: relative;
        bottom: 36px;
        width: 1400px;
        text-align: center;
        margin: 40px;
        color: rgba(242, 118, 90);  
    }
    
    .picture_destinations {
        height: 800px;
    }
    .container_destinations {
        width: 2520px;
        height: 800px;
        position: relative;
        gap: 53px;
        left: -541px;
        bottom: 26px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .name_destinations {
        position: relative;
        left: 15px;
        top: -86px;
        font-family: 'Red Hat Text', sans-serif;
        font-size: 32px;
        width: 500px;
        line-height: 42.34px;
        color: #fff;
    }
    
    .button_destinations {
        background-color: rgb(13, 96, 111);
        width: 230px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;
        left: 610px;
        top: 37px;
        margin: 0px;  
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        }
    
    .button_destinations:hover {
            background-color: rgb(9, 66, 77);
            cursor: cell;
        }
    
    .ellips_destinations {
            position: relative;
            top: -1px;
            left: 2px;
            text-align: center;
            overflow: visible;
            height: 20px;
        }

    .arrows_destinations {
        position: absolute;
        top: -1px;

        display: flex;
        flex-direction: row;

    }
    
    /* Travel Stories */
    
    .stories {
        position: relative;
        left: 0px;
        top: -56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: 'Aleo', serif;
    }
    .container_stories{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        left: 100px;
        top: 35px;
        width: 1200px;
    }
    
    .story {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 32px;
        margin-bottom: 23px;
        color: #0D606F;
        font-family: 'Aleo', serif;
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        position: relative;
        top: 17px;
        left: 17px;
    }
    
    .head_stories {
        position: relative;
        top: -30px;
        width: 1440px;
        text-align: center;
        margin: 0px;
        color: rgba(242, 118, 90); 
    }
    
    .text_stories {
        font-family: Aleo;
        letter-spacing: 0em;
        } 
        
    .name_story {
        font-weight: 400;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 10px;
        }
        
    .some_story {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        margin: 0px 0px;
        letter-spacing: 0.1em;
        } 
        
    .link_story {
        font-weight: bold;
        font-size: 20px;
        line-height: 24px;
        color: #0D606F;
        }
    
    .link_story:link {
        color: #0D606F;        
        }
    
    .link_story:visited {
            color: #0D606F;        
            }
        
    
    .picture_stories{
        border-radius: 16px;
        width: 400px;
        height: 250px;
    }
    .bacground_stories {
        width: 1440px;
        position: absolute;
        top: 48px; 
        left: -3px;
        z-index: -1;
    }
    
    .button_story {
        background-color: rgb(13, 96, 111);
        width: 230px;
        height: 60px;
        object-fit: cover;
        border-radius: 10px;
        color: #fff;
        position: relative;
        left: 505px;
        top: 19px;
        margin: 0px;  
        z-index: 2;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button_story:hover {
        background-color: rgb(9, 66, 77);
        cursor: cell;
    }
    
    /* FOOTER */
    
    .footer{
        position: relative;
        top: 15px;
        width: 1440px;
        height: 35px;
        display: flex;
        justify-content: space-around;
        gap: 39px;
        color: #fff;
        box-shadow: 1px #000;
    }
    
    .conteiner_footer {
        display: flex;
        align-items: center; 
    }
    .end-links {
        position: relative;
        left: 0px;
        height: 33.65px;
    } 
    
    .sociallinks {
        height: 33.65px;
        z-index: 2; 
    }
}
